<!DOCTYPE html>
<html lang="zh-CN">
</head>
{% load static %}
<meta charset="utf-8">
<title>Test App in Bootstrap!</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>-->
<script type="text/javascript" src="{% static 'maintest/js/jquery.js' %}"></script>
<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
<link rel="stylesheet" href="{% static 'maintest/bootstrap/css/bootstrap.css' %}">
<!--<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="{% static 'maintest/bootstrap/js/bootstrap.min.js' %}"></script>


<script type="text/javascript" src="{% static 'maintest/js/bootstrap-treeview.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'maintest/css/bootstrap-treeview.css' %}">
<!--<script src="https://cdn.bootcss.com/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css"></script>-->
<!--<script src="https://cdn.bootcss.com/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>-->

<script type="text/javascript" src="{% static 'maintest/js/maintest_js.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'maintest/css/maintest.css' %}">
<script>
    // define django template tag variables
    var build_url = "{% url 'maintest:build' %}";
    var check_url = "{% url 'maintest:check' %}";
    var test_url = "{% url 'Users:test_request' %}";
    var report_url = "{% url 'maintest:report' %}";
    var tv_ajax_url = "{% url 'maintest:tv_ajax' %}";


</script>
<script>
    var currentTVPath = '';  //delete when class MainTest available.

    $(document).ready(function()
    {
      $("#typical-test").click(function()  //to delete
      {
        html = '<form>Location:<input type="text" id="t-p-path"></form>';
        $("#s-p-body").html(html);
      });
      $("#submit-t-p-path").click(function() //submit path to be opened
      {
        currentTVPath = $('#t-p-path').val();
        loadTreeview(currentTVPath);
        $('#strat-project-modal').modal('hide')
      });
      $("#refresh_tree").click(function()  //refresh the file tree
      {
        loadTreeview(currentTVPath);
      });
    });


</script>
<script>  //unfinished
    $(document).ready(function(){
      $(".expand-icon").click(function(){
        console.log('hello2');
        console.log($(this).attr("data-nodeid"));
        console.log('hello3');
        //$(this).nextElementSibling.attr("class", "glyphicon-folder-open");
      });
    });


</script>
<script>
    $(document).ready(function(){
      $("[href=#edit_text]").click(function(){
        console.log('select file');
      });
      $("#submit-edit-text").click(function(){
        console.log('start editing file');
        var text = $("#edit-text").val();
        var data = {
          text: text,
          path: "{{file_path}}"
        };
        $.ajax({
          type: 'POST',
          url: "{% url 'maintest:save_file' %}",
          data: data,
          success: function(data){
            console.log(data);
            if(data == 'Success!')
              alert("修改成功!");
            else
              alert("修改失败QAQ!\n" + data);
          }
        });
      });
    });

    function uploadFile(path){
      window.location.href = "{% url 'files:browse' %}?dir=" + path;
    }


</script>
<script>
    // FOR STUDY



</script>
</head>

<body>
<!--<div class="page-header">-->
<!--<h1>&nbsp;Chip-Test App-->
<!--<small>testing</small>-->
<!--</h1>-->
<!--</div>-->
<div class="container">
	<div>
		{% include "maintest/include/account.html" %}
	</div>
	
  <div class="row">
    <div class="col-md-3" style="vertical-align:middle;font-size:20px">
      <p>&nbsp;Chip-Test App
        <small>testing</small>
      </p>
    </div>
	
	
	
    <div class="col-md-6">
      <!--Toolbar-->
      {% include "maintest/include/toolbar.html" %}
    </div>
    <div class="col-md-3">
      <!--Search bar-->
      <!--<div class="input-group">-->
        <!--<input type="text" class="form-control">-->
        <!--<span class="input-group-btn">-->
                        <!--<button class="btn btn-default" type="button">Search!</button>-->
                    <!--</span>-->
      <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
    </div><!-- /.col-lg-6 -->
  </div>
  <br>

  <div class="row">
    <div class="col-md-3"
         style="background-color: #dedef8;box-shadow:
                   inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
      <h4>tool window</h4>
      <div class="row">
        <div class="col-md-12"
             style="background-color: #dedef8;box-shadow:
                           inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
          <p>file tree</p>
          <div id="tree"></div>
          <a onclick="uploadFile(currentTVPath)" class="btn btn-default">
            upload <span class="glyphicon glyphicon-upload"></span>
          </a>
          <button id="refresh_tree" type="button" class="btn btn-default">
            refresh <span class="glyphicon glyphicon-refresh"></span>
          </button>
          <br><br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"
             style="background-color: #dedef8;box-shadow:
                           inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
          <p>stream</p>
          {% include "maintest/include/stream_status.html" %}
        </div>
      </div>
    </div>
    <div class="col-md-9"
         style="background-color: #dedef8;box-shadow:
                   inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
      <!--load the selected file an edit it here-->
      <div class="row">
        <div class="col-md-12"
             style="background-color: #ffffff;box-shadow:
                           inset 1px -1px 1px #444, inset -1px 1px 1px #444;padding:10px;">
          <ul id="myTab" class="nav nav-tabs">
            <li class="active">
              <a href="#home" data-toggle="tab">
                {{file_name}}
              </a>
            </li>
            <li class="pull-right">
              <button id="submit-edit-text" type="submit" class="btn btn-default">submit</button>
            </li>
            <!--<li><a href="#ios" data-toggle="tab">iOS</a></li>-->
            <!--<li class="dropdown">-->
            <!--<a href="#" id="myTabDrop1" class="dropdown-toggle"-->
            <!--data-toggle="dropdown">Java-->
            <!--<b class="caret"></b>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">-->
            <!--<li><a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a></li>-->
            <!--<li><a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a></li>-->
            <!--</ul>-->
            <!--</li>-->
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
              <textarea id="edit-text" class="form-control" rows="10">{{ file_content }}</textarea>
            </div>
            <div class="tab-pane fade" id="ios">
              <p>some comtent</p>
            </div>
          </div>
          <!--<label for="name">edit area</label>-->
          <!--&lt;!&ndash;<input type="text" class="form-control" id="name" placeholder="selected file">&ndash;&gt;-->
          <!--<textarea id="edit-text" class="form-control" rows="10">{{ file_content }}</textarea>-->
          <!--</div>-->
          <!--<button id="submit-edit-text" type="submit" class="btn btn-default">submit</button>-->
          <!--</form>-->
          <br>
        </div>
      </div>
      <div class="row">
        <h4>Waveform</h4>
        <div class="col-md-12 pre-scrollable"
             style="background-color: #dedef8;box-shadow:
                   inset 1px -1px 1px #444, inset -1px 1px 1px #444;padding:10px;">
          <!--<img src="{{ DIRECTORY }}/{{ current_path }}/wave.jpg" class="img-rounded img-responsive">-->
          <img id="waveform" class="pre-scrollable"
               src="{% static 'maintest/img/' %}{{ current_path }}/{{ current_path }}.jpg"
               class="img-rounded img-responsive">
          <!--<button type="button" onclick="loadXMLDoc_calc()">Calculate</button>-->
          <br>
        </div>
        <!--<p id='#wavedrawing'>-->
        <!--<div style='outline: 1px solid gray;'>-->
          <!--<button id="load">Compile and Draw</button>-->
          <!--<button id="draw" disabled='disabled'>Reload Image</button>-->
        <!--</div>-->
        <!--<div style='outline: 1px solid gray;'>-->
          <!--<ul id="namel"-->
              <!--style='outline: 1px solid green; width:20%;margin:0;display: inline-block;vertical-align:top;list-style-type: square;'></ul>-->
          <!--<ul id='sep'-->
              <!--style='background:url(../../static/maintest/WaveDrawJS/img/sep.png) repeat-y;display: inline-block;width:1%;height:0;margin: 0; padding: 0;list-style-type: none'></ul>-->
          <!--&lt;!&ndash; canvas容器 &ndash;&gt;-->
          <!--<ul id="canvasl"-->
              <!--style='outline: 2px solid white;display: inline-block;width:70%;margin: 0; padding: 0;list-style-type: none;font-size:0'></ul>-->
        <!--</div>-->
        <!--<p>propotion<input id="propotion" type="range" min="0" max="1000" value="1000"></p>-->
        <!--<p>width<input id="width" type="range" min="0" max="1000" value="1000"></p>-->
        <!--<p>scale<input id="scale" type="range" min="0" max="1000" value="1000"></p>-->
        <!--<script src="{% static 'maintest/WaveDrawJS/script/utils.js' %}"></script>-->
        <!--<script src="{% static 'maintest/WaveDrawJS/script/draw.js' %}"></script>-->
        <!--<script src="{% static 'maintest/WaveDrawJS/script/controller.js' %}"></script>-->
        <!--</p>-->
      </div>
    </div>
  </div>
</div>
<script>
   generateFileTree({{obj|safe}});
   treeviewOpenProject({{tv_dir|safe}});
   // waveform_path = "{% static 'maintest/img/' %}{{ current_path }}/";


</script>
<script>
$(function() {
    $('#strat-project-modal').modal('hide')
});


</script>
</body>
</html>
