<!DOCTYPE html>
<html lang="zh-CN">
</head>
{% load static %}
<meta charset="utf-8">
<title>Test App in Bootstrap!</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="{% static 'maintest/js/jquery.js' %}"></script>
<link rel="stylesheet" href="{% static 'maintest/bootstrap/css/bootstrap.css' %}">
<script type="text/javascript" src="{% static 'maintest/bootstrap/js/bootstrap.min.js' %}"></script>


<script type="text/javascript" src="{% static 'maintest/js/bootstrap-treeview.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'maintest/css/bootstrap-treeview.css' %}">

<script type="text/javascript" src="{% static 'maintest/js/maintest_js.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'maintest/WaveDrawJS/css/WaveDrawJS.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'maintest/css/maintest.css' %}">
<script src="{% static 'maintest/WaveDrawJS/script/loadjson.js' %}"></script>
<script src="{% static 'maintest/WaveDrawJS/script/miscscript.js' %}"></script>
<script>
    // define django template tag variables
    var build_url = "{% url 'maintest:build' %}";
    var check_url = "{% url 'maintest:check' %}";
    var test_url = "{% url 'Users:test_request' %}";
    var report_url = "{% url 'maintest:report' %}";
    var tv_ajax_url = "{% url 'maintest:tv_ajax' %}";
    var vcd2pic_url = "{% url 'maintest:vcd2picjson' %}";
    var uservcdfile = "{{ file_path }}";


</script>
<script>
    var currentTVPath = '';  //delete when class MainTest available.

    $(document).ready(function()
    {
		$('#file_input_pack').click(function(){
			$('#file').click();
		});
      $("#typical-test").click(function()  //to delete
      {
        html = '<form>Location:<input type="text" id="t-p-path"></form>';
        $("#s-p-body").html(html);
      });
      $("#submit-t-p-path").click(function() //submit path to be opened
      {
        currentTVPath = $('#t-p-path').val();
        loadTreeview(currentTVPath);
        $('#strat-project-modal').modal('hide')
      });
      $("#refresh_tree").click(function()  //refresh the file tree
      {
        loadTreeview(currentTVPath);
      });
    });
	

</script>
<script>
    $(document).ready(function(){
      $(".expand-icon").click(function(){
        console.log('hello2');
        console.log($(this).attr("data-nodeid"));
        console.log('hello3');
      });
    });


</script>
<script>
    $(document).ready(function(){
      $("[href=#edit_text]").click(function(){
        console.log('select file');
      });
      $("#submit-edit-text").click(function(){
        console.log('start editing file');
        var text = $("#edit-text").val();
        var data = {
          text: text,
          path: "{{file_path}}"
        };
        $.ajax({
          type: 'POST',
          url: "{% url 'maintest:save_file' %}",
          data: data,
          success: function(data){
            console.log(data);
            if(data == 'Success!')
              alert("修改成功!");
            else
              alert("修改失败QAQ!\n" + data);
          }
        });
      });
    });

    function uploadFile(path){
      window.location.href = "{% url 'files:browse' %}?dir=" + path;
    }


</script>
</head>

<body>
<div class="container">
	
	<div>
		{% include "maintest/include/account.html" %}
	</div>
	
  <div class="row">
    <div class="col-md-3" style="vertical-align:middle;font-size:20px">
      <p>&nbsp;Chip-Test App
        <small>testing</small>
      </p>
    </div>
	
	
	
    <div class="col-md-6">
      <!--Toolbar-->
      {% include "maintest/include/toolbar.html" %}
    </div>
    <div class="col-md-3">
    </div><!-- /.col-lg-6 -->
  </div>
  <br>

  <div class="row">
    <div class="col-md-3"
         style="background-color: #dedef8;box-shadow:
                   inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
      <h4>tool window</h4>
      <div class="row">
        <div class="col-md-12"
             style="background-color: #dedef8;box-shadow:
                           inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
          <p>file tree</p>
          <div id="tree"></div>
          <div class="btn-group">
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal_1">create dir</button>
			<button type="button" class="btn btn-default" onclick="clear_files()" data-toggle="modal" data-target="#myModal_2">upload</button>
			<button id="refresh_tree" type="button" class="btn btn-default">
            refresh </span>
			</button>
		  </div>
          
          <br><br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"
             style="background-color: #dedef8;box-shadow:
                           inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
          <p>stream</p>
          {% include "maintest/include/stream_status.html" %}
        </div>
      </div>
    </div>
    <div class="col-md-9"
         style="background-color: #dedef8;box-shadow:
                   inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
      <!--load the selected file an edit it here-->
      <div class="row">
        <div class="col-md-12"
             style="background-color: #ffffff;box-shadow:
                           inset 1px -1px 1px #444, inset -1px 1px 1px #444;padding:10px;">
          <ul id="myTab" class="nav nav-tabs">
            <li class="active">
              <a href="#home" data-toggle="tab">
                {{file_name}}
              </a>
            </li>
            <li class="pull-right">
              <button id="submit-edit-text" type="submit" class="btn btn-default">submit</button>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
              <textarea id="edit-text" class="form-control" rows="10">{{ file_content }}</textarea>
            </div>
            <div class="tab-pane fade" id="ios">
              <p>some comtent</p>
            </div>
          </div>
          <br>
        </div>
      </div>
      <div class="row">
        <h4>Waveform</h4>
        <div class='wavedrawing-'>
          <div class='wavedraw-menu'>
            <button id="wavedraw-reset" class="btn btn-default">Reload Image</button>
            <button id="wavedraw-cursor" class="btn btn-default">Cursor Mode</button>
            <button id="wavedraw-zoom" class="btn btn-default">Zoom Mode</button>
          </div>
          <div>
            <li id="wavedrawing-heading-text">Signals</li><!--用注释去除空白
         --><div class="column-sep"></div><!--用注释去除空白
         --><canvas id="wavedrawing-gridc">
          </div>
          <div class="wavedrawing-container">
            <div id="namel-"><ul class="inner-list"></ul></div><!--用注释去除空白
         --><div class='column-sep'></div><!--用注释去除空白
         --><div id="canvasl-"><ul class="inner-list"></ul></div>
            <div id="cursor-"></div>
          </div>
          <div id="wavedraw-cursor-info"></div>
          <br>
          <p class='.timebar'>Now showing <span><input type="text" style="display:none"><text> to </text><input type="text" style="display:none"><button style="display:none">Go</button></span> .</p>
          <p>propotion<input id="propotion-" type="range" min="0" max="1000" value="1000"></p>
          <p>width<input id="width-" type="range" min="0" max="1000" value="1000"></p>
        <script src="{% static 'maintest/WaveDrawJS/script/utils.js' %}"></script>
        <script src="{% static 'maintest/WaveDrawJS/script/draw.js' %}"></script>
        <script src="{% static 'maintest/WaveDrawJS/script/controller.js' %}"></script>
        </div>
      </div>
        
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel_1">project information</h4>
			</div>
			<form id="form4create" action="/Users/mkdir/" method="post" onsubmit="return user_submit_pack(this);">
			{% csrf_token %}
				<div class="modal-body">
					dir location: <input type="text" id="dir_loc" name="dir_loc" value="/" />
					dir name: <input type="text" id="dir_name" name="dir_name" maxlength="30" required oninvalid="setCustomValidity('group name can\'t be empty')" oninput="setCustomValidity('')"/>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">close</button>
					<button type="submit" class="btn btn-primary" >create</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<div class="modal fade" id="myModal_2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_2" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel_2">project information</h4>
			</div>
			<form id="form4upload"  action="/Users/upload/" method="post" enctype="multipart/form-data" onsubmit="return user_submit_pack4up(this);">
			{% csrf_token %}
				<div class="modal-body">
					<div class="input-group">
						<label class="input-group-addon">to location:</label>
						<input type="file" name="myfile" multiple="multiple" id="file" onchange="getFilename()" multiple="multiple" style="display:none"/>
						<input class="form-control col-md-4" type="text" id="file_loc" name="file_loc" value="/"/>
						
						<span class="input-group-btn"><button class="btn btn-default" type="button" id="file_input_pack" onclick="clear_files()">choose file</button></span>
						
					</div>
					<br><br>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Selected files:</h3>
						</div>
						<div class="panel-body" id="filename">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">close</button>
					<button type="submit" class="btn btn-primary" >upload</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<script>
   generateFileTree({{obj|safe}});
   treeviewOpenProject({{tv_dir|safe}});
</script>
<script>
$(function() {
    $('#strat-project-modal').modal('hide')
});


</script>
</body>
</html>
