{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify grp_tags files_tags %}
	<metacharset = "UTF-8">
	{% block title %}Index{% endblock %}
	<!--<title>index</title>-->
	<!--Breadcrumbs-->

{% block content_title %}
    <h1>File Management</h1>
{% endblock %}

{% block breadcrumbs %}
<ul class="grp-horizontal-list">
	<li><a href="{% url 'files:browse' %}">Home</a></li>
	{% for item in breadcrumbs %}
		<li><a href="{% url 'files:browse' %}?&amp;dir={{ item.1 }}">{{item.0}}</a></li>
	{% endfor %}
</ul>
{% endblock %}

{% block object-tools %}
<ul class="grp-object-tools">
	<!--{% block object-tools-items %}-->
		<li><a href="{% url 'files:create_dir' %}{% query_string 'dir' %}">
			New directory</a></li>
		<li><a href="{% url 'files:upload' %}{% query_string 'dir' %}" class="grp-state-focus">
			Upload
		</a></li>
		<li><a href="{% url 'maintest:index' %}">
			Return
		</a></li>
	<!--{% endblock %}-->
</ul>
{% endblock %}

{% block content %}
{{res}}
	<!--Toolbar-->


	<!--File list-->
	<table>
		<thead>
			<tr>
				<th>Filename</th>
				<th>size</th>
				<th>date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for item in fileobjects %}
		<tr>
			<!--Filename-->
			<td>
				{% if item.is_folder %}
					<a href="{% url 'files:browse' %}?&amp;dir={{ item.path_relative_directory|urlencode }}">
					<strong>{{ item.filename }}</strong></a>
				{% else %}
					{{ item.filename }}
				{% endif %}
			</td>
			<!--size-->
			<td>{% if item.filesize %}{{ item.filesize|filesizeformat }}{% else %}&mdash;{% endif %}</td>
			<!--date-->
			<td>{{ item.datetime|date:"N j, Y" }}</td>
			<!--detail-->
			<td><a href="{% url 'files:detail' %}?dir={{ query_dir }}&amp;filename={{ item.filename|urlencode }}">
				<!--add tag-->
				<strong>Details</strong>
				</a></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<br>
{% endblock %}
</html>