<!DOCTYPE html>
<html lang = "en">
<head>
	<metacharset = "UTF-8">
	<title>index</title>
</head>
<body>
{{res}}

	<!--Breadcrumbs-->
	<div id="navigation">
		<table>
			<tr>
				<td><a href="{% url 'files:browse' %}">Home</a></td>
				{% for item in breadcrumbs %}
					<td><a href="{% url 'files:browse' %}?&amp;dir={{ item.1 }}">{{item.0}}</a></td>
				{% endfor %}
			</tr>
		</table>
	</div>

	{% load files_tags %}
	<!--Toolbar-->
	<a href="{% url 'files:create_dir' %}{% query_string 'dir' %}">
	<!--<a href="{% url 'files:create_dir' %}?dir={{ query_dir }}">-->
		<!--add tag-->
		New directory
	</a>
	<br>
	<a href="{% url 'files:upload' %}">
		Upload
	</a>
	<br>

	<!--File list-->
	<table>
		<thead>
			<tr>
				<th>Filename</th>
				<th>size</th>
				<th>date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for item in fileobjects %}
		<tr>
			<!--Filename-->
			<td>
				{% if item.is_folder %}
					<a href="{% url 'files:browse' %}?&amp;dir={{ item.path_relative_directory|urlencode }}">
					<strong>{{ item.filename }}</strong></a>
				{% else %}
					{{ item.filename }}
				{% endif %}
			</td>
			<!--size-->
			<td>{% if item.filesize %}{{ item.filesize|filesizeformat }}{% else %}&mdash;{% endif %}</td>
			<!--date-->
			<td>{{ item.datetime|date:"N j, Y" }}</td>
			<!--detail-->
			<td><a href="{% url 'files:detail' %}?dir={{ query_dir }}&amp;filename={{ item.filename|urlencode }}">
				<!--add tag-->
				<strong>Details</strong>
				</a></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<br>
	
</html>