

body{
	background-image: url('images/background.jpg');
	background-size:cover;
}
td.f1{
	font-family:New Times Roman;
	font-size:24px
	
}
input.tran{
	background:transparent;
	border:1;
	height:24px;
	font-size:18px	
}
table.pos{
    margin-left:8em;
    margin-top:8em;
    background-color:rgba(255,255,255,0.8)
}

label.bkg{
	background-color:rgba(255,255,255,0.8)
}

input.button{
	height:30px;
	width:120px;
	font-family:Times New Roman;
	font-size:20px;
}

a.doc{
	text-decoration:none;
	color: #0000ff;
}

a:hover{
	color: #00afff;
}

@keyframes move { 
	0% {left: 0%;	 opacity: 0; }
	70% { left: 70%; opacity: 1 }
	100% {left: 100%;opacity: 0;}
}		 
.move{-webkit-animation-name:move;animation-name:move;position:relative;margin-left:-16px;}
.ar-animated{-webkit-animation-duration:1.5s;animation-duration:1.5s;-webkit-animation-fill-mode:both;animation-fill-mode:both;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;font-style:inherit;-webkit-animation-timing-function:linear;animation-timing-function:linear;}
.ar-delay-1s{animation-delay:0.1s;}
.ar-delay-2s{animation-delay:0.2s;}
.ar-delay-3s{animation-delay:0.3s;}
.ar-delay-4s{animation-delay:0.4s;}
.ar-delay-5s{animation-delay:0.5s;}
.ar-delay-6s{animation-delay:0.6s;}
.ar-delay-7s{animation-delay:0.7s;}
.ar-delay-8s{animation-delay:0.8s;}
.ar-delay-9s{animation-delay:0.9s;}
.ar-delay-10s{animation-delay:0.10s;}