body, button, input, select, textarea, h1 ,h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

.btn-toolbar {
    \\text-align: center;
}

.glyphicon-remove {
	color: red;
	font-size: 15px;
	text-align: center;
}

.glyphicon-ok {
	color: green;
	font-size: 15px;
	text-align: center;
}

.row {
    padding: 10px;
}

ul {
    line-height: 80%;
}

