<!--<div class="btn-group">-->
<a href="#" data-toggle="modal" href="#calcapp-template-modal">Calculator test</a>
<div class="modal fade" id="calcapp-template-modal" tabindex="-1" role="dialog"
     aria-labelledby="calcAppModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="calcAppModalLabel">Start new test project</h4>
      </div>
      <div class="modal-body" id="s-p-body">
        welcome
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">close
        </button>
        <button type="button" class="btn btn-primary pull-right">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>
<!--<button type="button" class="btn btn-primary pull-right" onclick="loadProjectTemplate(calcTest)">Calculator test</button>-->
<!--<button type="button" class="btn btn-primary" onclick="#">Chip test</button>-->
<!--</div>-->
